@use "../base/colors" as colors;
@use "../utils/media-queries" as media-query;
#main {
	position: relative;
	z-index: 2;
	height: 90svh;
	border: 2px solid palevioletred;

	display: grid;
	grid-template-areas:
		".         nav"
		"icons content";
	grid-template-columns: 8vw 1fr;
	grid-template-rows: 8vw 1fr;

	&::before {
		display: block;
		content: "";
		background: url("/media/bg.jpg") lighten(colors.$bg, 10%);

		background-blend-mode: multiply;

		filter: brightness(1);
		background-repeat: no-repeat;
		background-size: cover;
		background-position: 50% 50%;

		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;

		z-index: -1;

		box-shadow: inset 0px 0px 250px 20px colors.$bg;
	}

	@include media-query.small-screen() {
		grid-template-areas: "content";
		grid-template-columns: 1fr;
		grid-template-rows: 1fr;

		.main-navbar {
			position: absolute;
			top: 0;
			right: 0;
			left: 0;
			bottom: 0;
		}
	}
}
#main > section {
	grid-area: content;
	position: relative;
	border: 2px solid red;
	padding: 1em;
}

.main-navbar {
	grid-area: nav;
	justify-self: end;
	width: fit-content;
	gap: 1em;

	@include media-query.small-screen() {
		justify-self: start;
		width: 100%;
	}
}
.social-icons {
	grid-area: icons;
	align-self: end;
	//
	display: flex;
	flex-direction: column;
	gap: 1em;
	padding: 1em 0em;

	& > * {
		max-width: 100%;
	}
	@include media-query.small-screen() {
		display: none;
	}
}
