@use "../utils/layout" as utils;

.auth {
	//center content visually in screen due to main grid layout
	display: flex;
	place-content: center;
	place-items: center;
	transform: translate(-4vw, -0vw);
}
