@use "../base/colors" as colors;
.cart-item {
	border-radius: 10px;
	background-color: colors.$light;
	color: colors.$primary;
	font-size: 0.85rem;
	display: grid;
	grid-template-areas:
		"img name trash"
		" qt   .  price";
	grid-template-columns: 4rem 4fr 1fr;
	justify-content: space-between;
	place-items: center;

	padding: 0.75em 1em;
	gap: 1em;

	&__img {
		grid-area: img;
		$size: 4em;
		width: $size;
		height: $size;
		border-radius: 1em;
		transition: all 1s ease;

		box-shadow: 2px 8px 15px 1px rgba($color: colors.$primary, $alpha: 0.5);
	}
	&__name {
		grid-area: name;
		justify-self: start;
		color: colors.$text-secondary;
	}
	&__remove {
		grid-area: remove;
	}
	&__quantity {
		grid-area: qt;
		display: flex;
		gap: 2rem;
		place-content: space-between;
		place-items: center;
		width: 100%;
	}
	&__indicator {
		font-size: 1.25em;
	}
	&__add {
		grid-area: add;
	}

	&__delete {
		grid-area: trash;
		font-size: 1.25em;
		justify-self: end;
		align-self: start;
		color: colors.$invalid;
	}

	&__price {
		grid-area: price;
	}

	transition: all 0.2s ease;
	&:hover & {
		&__img {
			border-radius: 0.25em;
			border-start-end-radius: 75%;
			border-end-start-radius: 75%;
		}
	}
}
