@use "../base/colors" as colors;
@use "../utils/media-queries" as media-query;

.cart {
	display: grid;
	grid-template-areas:
		"title title"
		"payment items";
	grid-template-rows: auto 1fr;
	grid-template-columns: 2fr 1fr;

	overflow: hidden;

	@include media-query.small-screen() {
		grid-template-areas:
			"title"
			"payment"
			"items";
		grid-template-rows: auto auto auto;
		grid-template-columns: 1fr;
		gap: 1em;
		overflow-y: auto !important;
		justify-content: center;
		justify-items: center;
	}

	& h1 {
		grid-area: title;
	}
}

.cart-list {
	grid-area: items;
	overflow: hidden;
	display: grid;
	grid-template-rows: 1fr auto;

	padding-top: 0.5em;
	gap: 0.5rem;
	border: ridge 2px colors.$light;
	position: relative;

	@include media-query.small-screen() {
		grid-template-rows: auto auto;
		overflow: visible;
	}

	.cart-items-wrapper {
		overflow-y: scroll;
		display: flex;
		flex-direction: column;
		gap: 0.5em;
		padding: 0 1em;
		height: 100%;
	}

	&:has(.cart-item:hover) .cart-item {
		opacity: 0.9;
		transform: scale(0.99);
		transition: all 0.23s ease-out 0.1 !important;
	}

	& .cart-item:hover {
		opacity: 1 !important;
		transform: scale(1) !important;
	}

	&__empty {
		height: 100%;
		display: flex;
		flex-direction: column;
		place-content: center;
		place-items: center;
		text-align: center;
	}

	&:has(&__empty) &__total {
		display: none;
	}

	&__total {
		text-align: center;
		background-color: colors.$primary;
		font-size: 1.35em;
		font-weight: bold;
		padding: 0.75em;
		box-shadow: inset 2px 2px 20px 2px
			rgba($color: colors.$light, $alpha: 0.15);
	}
}

.cart-checkout {
	margin-right: 5%;
	@include media-query.small-screen() {
		margin: 0;
	}

	&__shipping {
		display: grid;
		grid-template-areas:
			"header   header"
			"country city"
			"street    zipcode";
		flex-direction: column;
		gap: 1.75em;
		& h3 {
			grid-area: header;
		}

		& *:nth-child(2) {
			grid-area: country;
		}
		& *:last-child {
			grid-area: street;
		}
	}

	&__payment {
		&__tbd {
			display: flex;
			flex-direction: column;
			place-content: center;
			align-items: center;
			text-align: center;
			background-color: rgba($color: colors.$light, $alpha: 0.15);
			border: ridge 2px;
			padding: 1em;
			backdrop-filter: blur(15px);
		}

		& a {
			color: colors.$secondary;
			font-weight: bold;
			text-decoration: underline;
		}
	}

	& button[type="submit"] {
		display: block;
		width: 80%;
		margin: auto !important;
		font-size: 1.5rem;
	}
}
