@use "../base/colors" as colors;

.cart {
	display: grid;
	grid-template-areas:
		"title title"
		"payment items";
	grid-template-rows: auto 1fr;
	grid-template-columns: 2fr 1fr;
	gap: 1rem;

	& h1 {
		grid-area: title;
	}
	overflow: hidden;
}

.cart-list {
	grid-area: items;
	max-height: 100%;
	overflow-y: auto;
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
	padding: 1rem;
	border: ridge 2px colors.$light;

	&:has(.cart-item:hover) .cart-item {
		opacity: 0.95;
		perspective: 1000px;
		transform: rotateX(20deg);
		transition: all 0.2s ease 0.1 !important;
	}

	& .cart-item:hover {
		opacity: 1 !important;
		transform: rotateX(0deg) !important;
	}

	&__empty {
		height: 100%;
		display: flex;
		flex-direction: column;
		place-content: center;
		place-items: center;
		text-align: center;
	}
}
