@use "../base/colors" as colors;
.dev-center {
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	place-items: center;
	text-align: center;

	height: 100%;
	max-height: max-content;

	&__note {
		&__box {
			margin: auto;
			background-color: rgba($color: colors.$light, $alpha: 0.2);
			border: ridge 2px colors.$light;
			padding: 1rem;
			backdrop-filter: blur(10px);
			max-width: 80%;
		}
	}
	&__triggers {
		display: flex;
		gap: 1rem;
		flex-wrap: wrap;
		max-width: 80%;
		justify-content: center;
		align-items: center;
	}

	& footer a {
		color: colors.$secondary;
		font-weight: bold;
		text-decoration: underline;
	}
}
