@use "../base/colors" as colors;

.frame {
	z-index: -1;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	overflow: hidden;

	$looping-animation-duration: 20s;

	@keyframes loadCorner {
		0% {
			transform: scale(10%);
		}
		to {
			transform: scale(100%);
		}
	}
	&__corner {
		position: absolute;

		background-color: colors.$secondary;

		$size: 35vmin;
		width: $size;
		height: $size;

		&--top-left {
			top: 0;
			left: 0;
			animation: loadCorner 1s forwards 1 0.05s ease-in-out;
		}
		&--bottom-right {
			bottom: 0;
			right: 0;
			animation: loadCorner 1s forwards 1 0.15s ease-in-out;
		}
	}

	@keyframes loadLines {
		from {
			transform: scale(0.5) rotate(-45deg);
		}
		to {
			transform: scale(1) rotate(-45deg);
		}
	}

	@keyframes loopLines {
		50% {
			opacity: 0;
		}
	}

	&__line {
		position: absolute;
		height: 0.1vmin;
		width: 200vw;
		transform: rotate(-45deg);
		transform-origin: top left;

		&--top {
			$start: 0px;
			background-color: colors.$bg;
			animation: loadLines 2s forwards 1 ease-in-out;
			@for $i from 1 to 14 {
				&:nth-child(#{$i}) {
					top: calc($start + calc($i) * 7.5%);
				}
			}
		}

		&--bottom {
			$start: 75vmin;
			left: -50%;
			transform-origin: 50%;
			background-color: colors.$light;
			@for $i from 1 to 13 {
				&:nth-child(#{$i}) {
					top: calc($start + calc($i) * 3%);
					animation: loadLines 2s forwards 1 ease-in-out,
						loopLines
							#{$looping-animation-duration}
							infinite
							both
							ease-in-out
							#{calc($i * 0.3s)};
				}
			}
		}
	}

	@keyframes loadDotsBox {
		from {
			transform: scale(10%);
		}
		to {
			transform: scale(100%);
		}
	}
	@keyframes loopDot {
		50% {
			opacity: 0;
			transform: translate(33%, 33%) scale(0.5);
		}
	}

	&__dots {
		position: absolute;
		bottom: 3vmin;
		left: 4vmin;
		$box-size: 8vmax;
		width: $box-size;
		height: $box-size;

		display: flex;
		flex-wrap: wrap;

		gap: 10%;

		place-content: center;
		place-items: center;

		animation: loadDotsBox 1.5s both 1 0.3s cubic-bezier(0.19, 1, 0.22, 1);

		&__dot {
			position: static;
			$size: 5%;
			width: $size;
			height: $size;
			background-color: #ddd;
			border-radius: 50%;

			$animation-duration: $looping-animation-duration;
			@for $i from 1 to 50 {
				&:nth-child(#{$i}) {
					animation: loopDot
						#{$animation-duration}
						both
						infinite
						ease-in-out
						#{calc($i * $animation-duration/100)};
				}
			}
		}
	}
}
