@use "../base/colors" as colors;

.frame {
	z-index: -1;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	overflow: hidden;

	@keyframes loadCorner {
		0% {
			transform: scale(10%);
		}
		to {
			transform: scale(100%);
		}
	}
	&__corner {
		position: absolute;

		background-color: colors.$secondary;

		$size: 35vmin;
		width: $size;
		height: $size;

		&--top-left {
			top: 0;
			left: 0;
			animation: loadCorner 1s forwards 1 ease-in-out;
		}
		&--bottom-right {
			bottom: 0;
			right: 0;
			animation: loadCorner 1s forwards 1 0.1s ease-in-out;
		}
	}

	@keyframes loadLines {
		from {
			width: 0vw;
			opacity: 0;
		}
		to {
			width: 200vw;
			opacity: 1;
		}
	}

	@keyframes loopLines {
		50% {
			opacity: 0;
		}
	}

	&__line {
		position: absolute;
		height: 1px;
		transform: rotate(-45deg);
		transform-origin: top left;

		&--top {
			$start: 0%;
			background-color: #131;
			animation: loadLines 2s forwards 1 ease-in-out;
			@for $i from 4 to 18 {
				&:nth-child(#{$i}) {
					top: calc($start + calc($i - 3) * 3%);
				}
			}
		}

		&--bottom {
			transform: rotate(-40deg);
			$start: 140%;
			background-color: #ddd;
			@for $i from 18 to 30 {
				&:nth-child(#{$i}) {
					top: calc($start + calc($i - 3) * 2.5%);
					animation: loadLines 2s forwards 1 ease-in-out,
						loopLines
							12s
							infinite
							both
							ease-in-out
							#{calc($i - 18) *
							0.3s};
				}
			}
		}
	}

	@keyframes loadDotsBox {
		from {
			transform: scale(10%);
		}
		to {
			transform: scale(100%);
		}
	}
	@keyframes loadDot {
		from {
			border-radius: 0;
		}
		to {
			border-radius: 50%;
		}
	}

	&__dots {
		position: absolute;
		bottom: 1em;
		left: 2em;

		$box-size: 8vmax;
		width: $box-size;
		height: $box-size;

		display: flex;
		flex-wrap: wrap;

		gap: 10%;

		place-content: center;
		place-items: center;

		animation: loadDotsBox 1s forwards 1 0.3s ease-in-out;

		&__dot {
			position: static;
			$size: 5%;
			width: $size;
			height: $size;
			background-color: #ddd;

			animation: loadDot 1s forwards 1 ease-in-out;
		}
	}
}
