@use "../base/colors" as colors;
@use "../utils/layout" as layout;
@use "../utils/media-queries" as media-query;

.item-display {
	padding: 1em;
	position: relative;
	display: grid;
	grid-template-areas:
		"title img"
		"text img"
		"price img"
		"footer footer";

	grid-template-columns: 2fr 3fr;
	gap: 1em;

	@include media-query.small-screen() {
		grid-template-areas:
			"img"
			"title"
			"text"
			"price"
			"footer";

		grid-template-columns: 1fr;
		overflow-y: auto;
		height: 100%;
	}

	& * {
		//border: 1px solid rgba($color: greenyellow, $alpha: 0.5);
	}

	& header {
		grid-area: title;

		display: grid;
		grid-template-columns: 1fr 3fr 1fr;
		grid-template-rows: 1fr;

		grid-template-areas: "left header-title right";
		@include media-query.small-screen() {
			grid-template-columns: 1fr 1fr;
			grid-template-rows: 1fr auto;
			grid-template-areas:
				"header-title header-title"
				"left                right";
		}
	}

	&__title {
		grid-area: header-title;
		padding: 1em;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		text-align: center;

		font-size: 1.75rem;
		min-height: 5em;
		& h1 {
			font-size: 1em;
			line-height: 1em;
			margin: 0;
		}
		& p {
			font-style: italic;
			font-size: 0.7em;
		}
	}

	&__navigation {
		padding: 0em 1em;

		opacity: 0.35;
		transition: all 0.15s ease-in;
		&:hover {
			opacity: 1;
			transform: scale(1.15);
		}

		&--prev {
			left: 1em;
			grid-area: left;
		}
		&--next {
			right: 1em;
			grid-area: right;
		}
		@include media-query.small-screen() {
		}
	}

	@keyframes image-on-load {
		from {
			border-top-right-radius: 100%;
			border-bottom-left-radius: 100%;
		}
		to {
			border-radius: 60%;
			border-top-left-radius: 100%;
			border-bottom-right-radius: 100%;
		}
	}

	&__image-wrapper {
		grid-area: img;
		background-color: #cccbc2;
		overflow: hidden;

		animation: image-on-load 5s cubic-bezier(0.075, 0.82, 0.165, 1) 1
			forwards;

		width: 75%;
		min-height: 33vh;

		justify-self: center;

		position: relative;

		box-shadow: 2px 2px 10px 2px rgba($color: colors.$light, $alpha: 0.3);

		& img {
			width: 100%;
			@include layout.center-in-parent();
		}

		@include media-query.small-screen() {
			width: 100%;
		}
	}

	&__text {
		grid-area: text;
		border-left: 5px solid colors.$secondary;

		padding: 0.1em 0.7em;
		font-style: italic;
		height: fit-content;

		@include media-query.small-screen() {
			text-align: justify;
		}
	}

	&__price {
		grid-area: price;
		display: flex;
		flex-direction: column;
		place-content: center;
		gap: 1em;
		padding-left: 3em;

		& p {
			font-size: 2rem;
			font-weight: bold;
		}

		& span {
			display: flex;
			align-items: center;
			gap: 0.5em;
			width: 100%;
		}

		@include media-query.small-screen() {
			padding: 0;
			text-align: center;

			& p {
				text-align: center;
			}
			& span {
				justify-content: space-evenly;
			}
		}
	}

	& footer {
		padding: 0rem;
		padding-top: 2em;
		grid-area: footer;
		display: flex;

		& h2 {
			font-size: 1.2rem;
		}

		@include media-query.small-screen() {
			text-align: justify;
			flex-direction: column;
			padding: 1em;
			gap: 1em;
		}
	}
}
