.orders-list {
}

.order-item {
	&__name {
		color: red !important;
	}

	& .img-wrapper {
		background: url("/media/user-image-placeholder.jpg");
		background-size: contain;
		background-position: center;
		// outline: 0.35em solid colors.$secondary;
		// box-shadow: 2px 2px 20px 2px colors.$secondary;
		width: 4em;
		height: 4em;

		outline: 2px solid red;
	}
}
