@use "../base/typography" as typography;
@use "../utils/media-queries" as media-query;
.profile {
	margin: auto;
	width: 70%;
	max-height: 100%;
	overflow: auto;
	padding: 1em;

	@include media-query.small-screen() {
		width: 100%;
	}

	& header {
		display: flex;
		align-items: center;

		gap: 3em;

		& .user-info__name {
			@include typography.title();
			margin: 0;
			font-size: 3rem;
		}

		@include media-query.small-screen() {
			flex-direction: column;
		}
	}

	&__actions,
	&__actions span {
		padding: 0em 1em;
		display: flex;
		justify-content: space-between;

		@include media-query.small-screen() {
			flex-direction: column-reverse;
			padding: 0;
			gap: 3em;
		}
	}

	&__actions span {
		gap: 1em;
	}

	&__actions {
	}
}

.user-info {
	&__section-title {
		font-size: 1.35rem;
	}
}
