@use "../base/colors" as colors;
.shop-page {
	display: flex;
	flex-direction: column;
	justify-content: space-between;

	& footer {
		display: flex;

		& .footer-item {
			max-width: 400px;

			&__title {
			}
			&__text {
			}
		}
	}
}

.shop-section {
	&__wrapper {
		width: 80vw;
		height: 60%;

		background-color: #ddd5;
		margin-bottom: 5%;

		overflow-y: hidden;
		overflow-x: auto;
		scroll-behavior: smooth;
	}
	height: 100%;
	min-width: 100%;
	display: flex;
	align-items: center;
	padding: 1em;
	gap: 1em;
}

.shop-item {
	margin: auto;
	$size: 30vmin;
	min-width: $size;
	min-height: $size;

	display: flex;
	flex-direction: column;

	position: relative;
	overflow: hidden;

	border-radius: 5px;
	box-shadow: 2px 8px 20px 2px rgba($color: colors.$dark, $alpha: 0.5);
	border: 1px solid rgba($color: colors.$light, $alpha: 0.3);

	cursor: pointer;

	& img {
		height: $size;
		width: fit-content;
		align-self: center;
	}

	&__title {
		font-size: 1.15rem;
		text-align: center;
		padding: 0.25em 0.35em;
		background-color: colors.$primary;
		$lh: 1.05em;
		min-height: $lh * 2.5;

		display: flex;
		place-content: center;
		place-items: center;

		& h2 {
			font-size: inherit;
			line-height: $lh;
			margin: 0;
		}
	}

	&__description {
		position: absolute;
		top: 0%;
		right: 0;
		bottom: 0;
		left: 0;
		z-index: 10;
		opacity: 0;
		font-size: 0.9rem;
		display: inline-flex;

		align-items: center;
		text-align: center;
		//crop text
		text-overflow: ellipsis;
		overflow: hidden;

		background-color: rgba($color: colors.$bg, $alpha: 0.8);

		padding: 0.5em;
	}

	//Hover animation
	&,
	& img,
	&__title,
	&__description {
		transition: all 0.2s ease-in;
	}
	&:hover &__description {
		opacity: 1;
	}
	&:hover img,
	&:hover &__title {
		filter: blur(3px);
	}
	&:hover img {
		transform: scale(1.1);
		transition: all 0.2s ease-in;
	}
}
