@use "../../utils/layout" as layout;
@use "../../base/colors" as colors;
@use "../../utils/media-queries" as media-query;
.dialog {
	overflow: hidden;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 50;
	transition: all 0.2s ease;

	&[data-backdrop="true"]::before {
		transition: all 0.2s ease;
		content: "";
		display: block;
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		background-color: #3335;
		z-index: -1;
	}

	&__container {
		@include layout.center-in-parent();
		background-color: colors.$light;
		padding: 1em;
		border-radius: 8px;
		width: 33vw;

		display: flex;
		flex-direction: column;
		gap: 1em;

		border: 5px solid colors.$primary;

		&[data-danger="true"] {
			border-color: colors.$invalid;
		}

		@include media-query.small-screen() {
			min-width: 80vw;
		}
	}

	&__header {
		display: flex;
		align-items: center;
		gap: 0.25em;
		font-size: 1.75rem;
		color: colors.$primary;
		padding-bottom: 0.25em;
		border-bottom: 1px solid colors.$primary;

		&[data-danger="true"] {
			border-color: colors.$invalid;
		}

		&[data-danger="true"] &__title,
		&[data-danger="true"] &__icon {
			color: colors.$invalid;
		}

		&__title {
			margin: 0;
			font-size: 1em;
			color: inherit;
		}

		&__icon {
			font-size: 1em;
			color: inherit;
		}
	}

	&__body {
		color: colors.$text-secondary;
		font-size: 1.2rem;
		padding: 0.5em 0.75em;
		max-height: 33vh;
		overflow-y: auto;
		overflow-x: hidden;

		&--justify {
			text-align: justify;
		}
	}

	&__footer {
		margin-top: 0.75em;
		display: flex;
		justify-content: space-between;
	}

	&__confirm {
		margin-left: auto;
	}
}
