@import "react-toastify/dist/ReactToastify.css";
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
  color: inherit;
  border: none;
  background-color: transparent;
}

:root {
  font-size: clamp(16px, 1.5vmax, 20px);
  font-family: Arial, Helvetica, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #e6ac1a;
  font-family: Georgia, "Times New Roman", Times, serif;
  margin-bottom: 0.5em;
  font-weight: bold;
}

h1 {
  font-size: 2.3rem;
}
@media (hover: none) or (max-width: 900px) {
  h1 {
    font-size: 1.85rem;
  }
}

h2 {
  font-size: 2rem;
}
@media (hover: none) or (max-width: 900px) {
  h2 {
    font-size: 1.45rem;
  }
}

h3 {
  font-size: 1.5rem;
}
@media (hover: none) or (max-width: 900px) {
  h3 {
    font-size: 1.15rem;
  }
}

h4 {
  font-size: 1.25rem;
}
@media (hover: none) or (max-width: 900px) {
  h4 {
    font-size: 1.05rem;
  }
}

* {
  user-select: none;
  -webkit-tap-highlight-color: transparent;
}

body {
  background-color: #001f14;
  color: #ebfff8;
  height: 100svh;
  padding: 6.5vmin;
}

#root {
  width: 100%;
  height: 100%;
}

*::-webkit-scrollbar {
  width: 0.5em;
  height: 0.5em;
  transition: all 0.2s ease;
}

*::-webkit-scrollbar-track {
  background-color: rgba(235, 255, 248, 0.1);
  transition: all 1.25s ease;
  border-radius: 10px;
}
*::-webkit-scrollbar-track:hover {
  background-color: rgba(235, 255, 248, 0.35);
}

*::-webkit-scrollbar-thumb {
  background-color: #ebfff8;
  outline: 1px solid #ebfff8;
  border-radius: 10px;
}

.image {
  width: 100%;
  height: 100%;
  display: flex;
  place-content: center;
  place-items: center;
}
.image__img {
  width: 100%;
  height: 100%;
}
.image__img--placeholder, .image__img--error {
  filter: grayscale(0.7);
}

.btn {
  padding: 0.75em 1em;
  border-radius: 5px;
  box-shadow: 2px 2px 15px 2px rgba(0, 72, 46, 0.5);
  transition: all 0.17s ease-in-out, box-shadow 0.3s;
  cursor: pointer;
  font-size: 0.8em;
  text-transform: capitalize;
}
.btn--primary {
  background-color: #00482e;
}
.btn--primary:hover {
  box-shadow: 2px 2px 25px 2px #00482e;
  outline: 0.25px solid #e1fff4;
}
.btn--primary:active {
  box-shadow: 2px 2px 25px 2px #00482e, inset 2px 2px 20px 2px #001f14;
  outline: 1px solid #e1fff4;
}
.btn--outlined {
  background-color: #ebfff8;
  color: #000604;
  outline: 1px solid #ebfff8;
  box-shadow: 2px 2px 15px 2px rgba(0, 6, 4, 0.5);
}
.btn--outlined:hover {
  box-shadow: 2px 2px 20px 2px rgba(0, 6, 4, 0.75);
}
.btn--outlined:active {
  box-shadow: 2px 2px 25px 2px #000604, inset 2px 2px 20px 2px rgba(0, 6, 4, 0.35);
  outline: 1px solid #ebfff8;
}
.btn--link {
  background-color: transparent;
  color: #ebfff8;
  box-shadow: none;
}
.btn--link:hover {
  background-color: rgba(0, 72, 46, 0.5);
  box-shadow: 2px 2px 25px 2px #00482e;
}
.btn--link:active {
  box-shadow: 2px 2px 25px 2px #00482e, inset 2px 2px 20px 2px rgba(0, 72, 46, 0.35);
  outline: 1px solid #00482e;
}
.btn--danger {
  background-color: #f55;
}
.btn--danger:hover {
  box-shadow: 2px 2px 25px 2px #ff5555;
  outline: 0.25px solid white;
}
.btn--danger:active {
  box-shadow: 2px 2px 25px 2px #ff5555, inset 2px 2px 20px 2px #001f14;
  outline: 1px solid white;
}
.btn span {
  display: inline-block;
  color: inherit;
  transition: all 0.2s;
}
.btn:hover span {
  transform: scale(105%);
}
.btn:active span {
  transform: scale(85%);
}
.btn:disabled {
  opacity: 0.5;
  pointer-events: none;
}

.icon-btn {
  background-color: transparent;
  font-size: 1.5em;
  cursor: pointer;
}
.icon-btn i:hover {
  transform: scale(95%);
}
.icon-btn i:active {
  transform: scale(105%);
}

.main-navbar {
  padding: 0.75em;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.main-navbar__hamburger-icon {
  position: absolute;
  top: 0.9rem;
  right: 1.2rem;
  z-index: 2000;
}
.main-navbar__background {
  height: 6rem;
  width: 6rem;
  border-radius: 50%;
  position: fixed;
  top: 6.5rem;
  right: 6.5rem;
  background-color: rgba(0, 31, 20, 0.8);
  backdrop-filter: blur(0.5px);
  z-index: -1;
  opacity: 0;
  transition: transform 0.7s cubic-bezier(0.8, 0.1, 0.2, 0.9), opacity 0.4s cubic-bezier(0.8, 0.1, 0.2, 0.9);
}
.main-navbar__background[data-show=true] {
  transform: scale(30);
  opacity: 1;
  z-index: 1000;
}
.main-navbar__hamburger-icon, .main-navbar__background {
  display: none;
}
@media (hover: none) or (max-width: 900px) {
  .main-navbar__hamburger-icon, .main-navbar__background {
    display: block;
  }
}
@media (hover: none) or (max-width: 900px) {
  .main-navbar__nav {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transform: translate(-50%, -45%);
    transition: transform 0.25s ease-out, opacity 0.5s;
    z-index: 1;
    pointer-events: none;
  }
  .main-navbar__nav[data-open=true] {
    opacity: 1;
    transform: translate(-50%, -50%);
    z-index: 1500;
    pointer-events: all;
  }
}
.main-navbar__list {
  list-style: none;
  text-align: center;
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 1em;
  font-size: 1.2rem;
}
@media (hover: none) or (max-width: 900px) {
  .main-navbar__list {
    flex-direction: column;
    font-size: 1.5rem;
  }
}

.form__header {
  display: flex;
  flex-direction: column;
  place-content: center;
  place-items: center;
  text-align: center;
  gap: 0;
}
.form__body {
  display: flex;
  flex-direction: column;
  place-content: center;
  place-items: center;
  text-align: center;
  gap: 0;
  gap: 2em;
  margin: 1.5em 0em;
}
.form__body, .form__body > * {
  width: 100%;
}
.form__control--special {
  z-index: -1;
  position: absolute;
  top: 50%;
  left: 50%;
}
.form__separator {
  width: 100%;
  height: 1px;
  background-color: #ebfff8;
  margin: 1em 0em;
}

.input {
  position: relative;
  width: 100%;
  padding: 0.3em 0.5em;
  background-color: #ebfff8;
  border-radius: 10px;
  outline: 2px solid transparent;
  transition: all 0.15s ease;
  font-size: 1.1rem;
  text-align: left;
  /*
  focus vs focus-within
  focus within targets descendants
  With forms, when the user tries to submit and missed a field, the missing one will be focused.
  since the actual input is inside the .input wrapper, focus-within gets targeted as well
  */
}
.input:focus-within {
  box-shadow: inset 2px 2px 20px 2px rgba(0, 6, 4, 0.5);
  outline: 1px solid #ebfff8;
}
.input__invalid-text {
  color: #ebfff8;
  position: absolute;
  bottom: calc(100% + 0.2em);
  right: 0em;
  font-size: 0.75em;
  background-color: #f55;
  padding: 0.2em 0.5em;
  border-radius: 10px;
  z-index: -1;
  text-transform: capitalize;
}
.input__element {
  padding: 0.25em 0.5em;
  font-size: 1em;
  background-color: transparent;
  color: #000604;
  width: 100%;
}
.input__element:focus {
  border: none;
  outline: none;
  background-color: transparent;
}
.input__label {
  display: block;
  position: absolute;
  opacity: 0;
  top: 0rem;
  transform: translateY(50%);
  color: #ebfff8;
  transition: 0.2s ease-in-out transform;
  font-size: 0.95em;
}
.input__element:placeholder-shown + .input__label {
  visibility: hidden;
  z-index: -1;
  transition: 0.2s ease-in-out;
}
.input__element:not(:placeholder-shown) + .input__label, .input__element:focus:not(:placeholder-shown) + .input__label {
  visibility: visible;
  z-index: 1;
  opacity: 1;
  transform: translateY(-120%);
  transition: 0.2s ease-in-out transform;
}
.input:has(.input__element:disabled) {
  opacity: 0.5;
}
.input__element:disabled {
  opacity: 0.7;
  pointer-events: none;
}
.input--outlined {
  border: 1px solid #001f14;
}
.input--outlined .input__label {
  color: #000604;
}

:root {
  --toastify-text-color-dark: colors.$text-secondary;
}

.file-input {
  width: 20vmax;
  height: 20vmax;
  max-width: 200px;
  max-height: 200px;
  overflow: hidden;
  border-radius: 50%;
  background-color: #ebfff8;
  position: relative;
  transition: all 0.35s ease-out;
  cursor: pointer;
}
.file-input:hover {
  box-shadow: inset 0px 0px 70px 10px #000604;
}
.file-input:hover img {
  transform: translate(-50%, -50%) scale(1.25);
  opacity: 0.5;
}
.file-input:hover .file-input__icon {
  opacity: 0.5;
}
.file-input__icon {
  opacity: 0;
  font-size: 6.6666666667vmax;
  transition: all 0.25s ease-in-out;
  z-index: 1;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.file-input img {
  height: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  transition: all 0.35s ease;
  z-index: 1;
}
.file-input input {
  z-index: -1;
  opacity: 0;
}

.toggle-wrapper {
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  gap: 0.5em;
  padding: 0.5em;
}
.toggle-wrapper:hover .toggle {
  box-shadow: inset 2px 2px 10px 0px #000604;
}
.toggle-wrapper:has(.toggle__input:disabled) {
  opacity: 0.5;
  pointer-events: none;
}

.toggle {
  display: inline-flex;
  width: 3.5em;
  height: 1.5em;
  padding: 0.25em;
  background-color: #ebfff8;
  border-radius: 2em;
  transition: all 0.2s ease;
  box-shadow: inset 2px 2px 5px 0px rgba(0, 6, 4, 0.5);
}
.toggle__slider {
  width: 1em;
  height: 1em;
  border-radius: 100%;
  transition: all 0.25s ease-in-out;
}
.toggle__input:checked + .toggle .toggle__slider {
  transform: translateX(2em);
  background-color: #00482e;
  box-shadow: inset 2px 2px 5px 0px #00ae70;
}
.toggle__input:not(:checked) + .toggle .toggle__slider {
  transform: translateX(0em);
  background-color: rgba(0, 72, 46, 0.35);
  box-shadow: inset 2px 2px 10px 0px #000604;
}
.toggle__slider-wrapper {
  transition: all 0.5s ease-in-out;
}
.toggle:active .toggle__slider-wrapper {
  transform: scale(0.8);
}
.toggle__input {
  opacity: 0;
  position: absolute;
}

.tabs-container {
  padding: 1em;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr;
  gap: 1em;
  height: 94%;
}
@media (hover: none) or (max-width: 900px) {
  .tabs-container {
    padding: 1em 0em;
  }
}
.tabs-container__tab {
  overflow: auto;
}
.tabs-container__nav__button {
  border-radius: 0%;
}
.tabs-container__nav__button:first-child {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}
.tabs-container__nav__button:last-child {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.dialog {
  overflow: hidden;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 50;
  transition: all 0.2s ease;
}
.dialog[data-backdrop=true]::before {
  transition: all 0.2s ease;
  content: "";
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(51, 51, 51, 0.3333333333);
  z-index: -1;
}
.dialog__container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #ebfff8;
  padding: 1em;
  border-radius: 8px;
  width: 33vw;
  display: flex;
  flex-direction: column;
  gap: 1em;
  border: 5px solid #00482e;
}
.dialog__container[data-danger=true] {
  border-color: #f55;
}
@media (hover: none) or (max-width: 900px) {
  .dialog__container {
    min-width: 80vw;
  }
}
.dialog__header {
  display: flex;
  align-items: center;
  gap: 0.25em;
  font-size: 1.75rem;
  color: #00482e;
  padding-bottom: 0.25em;
  border-bottom: 1px solid #00482e;
}
.dialog__header[data-danger=true] {
  border-color: #f55;
}
.dialog__header[data-danger=true] .dialog__header__title, .dialog__header[data-danger=true] .dialog__header__icon {
  color: #f55;
}
.dialog__header__title {
  margin: 0;
  font-size: 1em;
  color: inherit;
}
.dialog__header__icon {
  font-size: 1em;
  color: inherit;
}
.dialog__body {
  color: #000604;
  font-size: 1.2rem;
  padding: 0.5em 0.75em;
  max-height: 33vh;
  overflow-y: auto;
  overflow-x: hidden;
}
.dialog__body::-webkit-scrollbar-thumb {
  background-color: #00482e;
  outline: 1px solid #00482e;
  border-radius: 10px;
}
.dialog__body::-webkit-scrollbar-track {
  background-color: rgba(0, 72, 46, 0.1);
  transition: all 1.25s ease;
  border-radius: 10px;
}
.dialog__body::-webkit-scrollbar-track:hover {
  background-color: rgba(0, 72, 46, 0.35);
}
.dialog__body--justify {
  text-align: justify;
}
.dialog__footer {
  margin-top: 0.75em;
  display: flex;
  justify-content: space-between;
}
.dialog__confirm {
  margin-left: auto;
}

.accordion-item {
  color: #000604;
}
.accordion-item:first-child .accordion-item__header {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
.accordion-item:last-child[data-collapsed=true] .accordion-item__header {
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
.accordion-item:last-child .accordion-item__body-wrapper {
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
.accordion-item__header {
  background-color: #ebfff8;
  padding: 0.5em 1em;
  display: grid;
  grid-template-columns: 1fr auto;
  grid-auto-flow: column;
  cursor: pointer;
  transition: all 0.25s ease-in-out;
  border-bottom: 1px ridge rgba(0, 31, 20, 0.3);
  box-shadow: inset 2px 2px 10px 2px rgba(0, 6, 4, 0);
  text-align: center;
  gap: 1em;
  min-width: 100%;
}
.accordion-item__header__content {
  display: grid;
  grid-template-columns: 1fr;
  justify-items: start;
  gap: 1em;
  transition: all 0.15s ease-out;
}
.accordion-item__header__content * {
  transition: all 0.2s ease;
  overflow: hidden;
  text-overflow: ellipsis;
}
.accordion-item__header__content *:hover {
  overflow: visible;
}
.accordion-item__header__icon {
  transition: all 0.15s ease-out;
}
.accordion-item__header:hover {
  box-shadow: inset 2px 2px 15px 4px rgba(0, 6, 4, 0.2);
}
.accordion-item__header:hover .accordion-item__header__icon {
  transform: scale(1.2);
}
.accordion-item__header:hover .accordion-item__header__content {
  transform: scale(1.025);
}
.accordion-item__header:active .accordion-item__header__icon {
  transform: scale(0.9);
}
.accordion-item[data-collapsed=false] .accordion-item__header {
  box-shadow: inset 2px 2px 10px 2px rgba(0, 6, 4, 0.5);
}
.accordion-item[data-collapsed=false] .accordion-item__header .accordion-item__header__icon {
  transform: rotateX(180deg);
}
.accordion-item[data-collapsed=false] .accordion-item__header:hover .accordion-item__header__icon {
  transform: scale(1.2) rotateX(180deg);
}
.accordion-item[data-collapsed=false] .accordion-item__header:active .accordion-item__header__icon {
  transform: scale(0.9) rotateX(180deg);
}
.accordion-item__body-wrapper {
  background-color: rgba(0, 123, 79, 0.5);
  color: #ebfff8;
  overflow: hidden;
}
.accordion-item__body {
  padding: 0.5em;
  display: flex;
  flex-direction: column;
  gap: 0.25em;
}
.accordion-item__body > * {
  padding: 0.2em 0.5em;
  border-bottom: 1px solid #ebfff8;
}

.accordion-container {
  overflow: auto;
  padding: 0.5em 0.25em;
  max-height: 100%;
  max-width: 100%;
}

.textarea {
  height: max-content;
}
.textarea__element {
  height: 5em;
}

.frame {
  z-index: -1;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
}
@keyframes loadCorner {
  0% {
    transform: scale(10%);
  }
  to {
    transform: scale(100%);
  }
}
.frame__corner {
  position: absolute;
  background-color: #e6ac1a;
  width: 35vmin;
  height: 35vmin;
}
.frame__corner--top-left {
  top: 0;
  left: 0;
  animation: loadCorner 1s forwards 1 0.05s ease-in-out;
}
.frame__corner--bottom-right {
  bottom: 0;
  right: 0;
  animation: loadCorner 1s forwards 1 0.15s ease-in-out;
}
@keyframes loadLines {
  from {
    transform: scale(0.5) rotate(-45deg);
  }
  to {
    transform: scale(1) rotate(-45deg);
  }
}
@keyframes loopLines {
  50% {
    opacity: 0;
  }
}
.frame__line {
  position: absolute;
  height: 0.1vmin;
  width: 200vw;
  transform: rotate(-45deg);
  transform-origin: top left;
}
.frame__line--top {
  background-color: #001f14;
  animation: loadLines 2s forwards 1 ease-in-out;
}
.frame__line--top:nth-child(1) {
  top: calc(0px + 7.5%);
}
.frame__line--top:nth-child(2) {
  top: calc(0px + 15%);
}
.frame__line--top:nth-child(3) {
  top: calc(0px + 22.5%);
}
.frame__line--top:nth-child(4) {
  top: calc(0px + 30%);
}
.frame__line--top:nth-child(5) {
  top: calc(0px + 37.5%);
}
.frame__line--top:nth-child(6) {
  top: calc(0px + 45%);
}
.frame__line--top:nth-child(7) {
  top: calc(0px + 52.5%);
}
.frame__line--top:nth-child(8) {
  top: calc(0px + 60%);
}
.frame__line--top:nth-child(9) {
  top: calc(0px + 67.5%);
}
.frame__line--top:nth-child(10) {
  top: calc(0px + 75%);
}
.frame__line--top:nth-child(11) {
  top: calc(0px + 82.5%);
}
.frame__line--top:nth-child(12) {
  top: calc(0px + 90%);
}
.frame__line--top:nth-child(13) {
  top: calc(0px + 97.5%);
}
.frame__line--bottom {
  left: -50%;
  transform-origin: 50%;
  background-color: #ebfff8;
}
.frame__line--bottom:nth-child(1) {
  top: calc(75vmin + 3%);
  animation: loadLines 2s forwards 1 ease-in-out, loopLines 20s infinite both ease-in-out 0.3s;
}
.frame__line--bottom:nth-child(2) {
  top: calc(75vmin + 6%);
  animation: loadLines 2s forwards 1 ease-in-out, loopLines 20s infinite both ease-in-out 0.6s;
}
.frame__line--bottom:nth-child(3) {
  top: calc(75vmin + 9%);
  animation: loadLines 2s forwards 1 ease-in-out, loopLines 20s infinite both ease-in-out 0.9s;
}
.frame__line--bottom:nth-child(4) {
  top: calc(75vmin + 12%);
  animation: loadLines 2s forwards 1 ease-in-out, loopLines 20s infinite both ease-in-out 1.2s;
}
.frame__line--bottom:nth-child(5) {
  top: calc(75vmin + 15%);
  animation: loadLines 2s forwards 1 ease-in-out, loopLines 20s infinite both ease-in-out 1.5s;
}
.frame__line--bottom:nth-child(6) {
  top: calc(75vmin + 18%);
  animation: loadLines 2s forwards 1 ease-in-out, loopLines 20s infinite both ease-in-out 1.8s;
}
.frame__line--bottom:nth-child(7) {
  top: calc(75vmin + 21%);
  animation: loadLines 2s forwards 1 ease-in-out, loopLines 20s infinite both ease-in-out 2.1s;
}
.frame__line--bottom:nth-child(8) {
  top: calc(75vmin + 24%);
  animation: loadLines 2s forwards 1 ease-in-out, loopLines 20s infinite both ease-in-out 2.4s;
}
.frame__line--bottom:nth-child(9) {
  top: calc(75vmin + 27%);
  animation: loadLines 2s forwards 1 ease-in-out, loopLines 20s infinite both ease-in-out 2.7s;
}
.frame__line--bottom:nth-child(10) {
  top: calc(75vmin + 30%);
  animation: loadLines 2s forwards 1 ease-in-out, loopLines 20s infinite both ease-in-out 3s;
}
.frame__line--bottom:nth-child(11) {
  top: calc(75vmin + 33%);
  animation: loadLines 2s forwards 1 ease-in-out, loopLines 20s infinite both ease-in-out 3.3s;
}
.frame__line--bottom:nth-child(12) {
  top: calc(75vmin + 36%);
  animation: loadLines 2s forwards 1 ease-in-out, loopLines 20s infinite both ease-in-out 3.6s;
}
@keyframes loadDotsBox {
  from {
    transform: scale(10%);
  }
  to {
    transform: scale(100%);
  }
}
@keyframes loopDot {
  50% {
    opacity: 0;
    transform: translate(33%, 33%) scale(0.5);
  }
}
.frame__dots {
  position: absolute;
  bottom: 3vmin;
  left: 4vmin;
  width: 8vmax;
  height: 8vmax;
  display: flex;
  flex-wrap: wrap;
  gap: 10%;
  place-content: center;
  place-items: center;
  animation: loadDotsBox 1.5s both 1 0.3s cubic-bezier(0.19, 1, 0.22, 1);
}
.frame__dots__dot {
  position: static;
  width: 5%;
  height: 5%;
  background-color: #ddd;
  border-radius: 50%;
}
.frame__dots__dot:nth-child(1) {
  animation: loopDot 20s both infinite ease-in-out 0.2s;
}
.frame__dots__dot:nth-child(2) {
  animation: loopDot 20s both infinite ease-in-out 0.4s;
}
.frame__dots__dot:nth-child(3) {
  animation: loopDot 20s both infinite ease-in-out 0.6s;
}
.frame__dots__dot:nth-child(4) {
  animation: loopDot 20s both infinite ease-in-out 0.8s;
}
.frame__dots__dot:nth-child(5) {
  animation: loopDot 20s both infinite ease-in-out 1s;
}
.frame__dots__dot:nth-child(6) {
  animation: loopDot 20s both infinite ease-in-out 1.2s;
}
.frame__dots__dot:nth-child(7) {
  animation: loopDot 20s both infinite ease-in-out 1.4s;
}
.frame__dots__dot:nth-child(8) {
  animation: loopDot 20s both infinite ease-in-out 1.6s;
}
.frame__dots__dot:nth-child(9) {
  animation: loopDot 20s both infinite ease-in-out 1.8s;
}
.frame__dots__dot:nth-child(10) {
  animation: loopDot 20s both infinite ease-in-out 2s;
}
.frame__dots__dot:nth-child(11) {
  animation: loopDot 20s both infinite ease-in-out 2.2s;
}
.frame__dots__dot:nth-child(12) {
  animation: loopDot 20s both infinite ease-in-out 2.4s;
}
.frame__dots__dot:nth-child(13) {
  animation: loopDot 20s both infinite ease-in-out 2.6s;
}
.frame__dots__dot:nth-child(14) {
  animation: loopDot 20s both infinite ease-in-out 2.8s;
}
.frame__dots__dot:nth-child(15) {
  animation: loopDot 20s both infinite ease-in-out 3s;
}
.frame__dots__dot:nth-child(16) {
  animation: loopDot 20s both infinite ease-in-out 3.2s;
}
.frame__dots__dot:nth-child(17) {
  animation: loopDot 20s both infinite ease-in-out 3.4s;
}
.frame__dots__dot:nth-child(18) {
  animation: loopDot 20s both infinite ease-in-out 3.6s;
}
.frame__dots__dot:nth-child(19) {
  animation: loopDot 20s both infinite ease-in-out 3.8s;
}
.frame__dots__dot:nth-child(20) {
  animation: loopDot 20s both infinite ease-in-out 4s;
}
.frame__dots__dot:nth-child(21) {
  animation: loopDot 20s both infinite ease-in-out 4.2s;
}
.frame__dots__dot:nth-child(22) {
  animation: loopDot 20s both infinite ease-in-out 4.4s;
}
.frame__dots__dot:nth-child(23) {
  animation: loopDot 20s both infinite ease-in-out 4.6s;
}
.frame__dots__dot:nth-child(24) {
  animation: loopDot 20s both infinite ease-in-out 4.8s;
}
.frame__dots__dot:nth-child(25) {
  animation: loopDot 20s both infinite ease-in-out 5s;
}
.frame__dots__dot:nth-child(26) {
  animation: loopDot 20s both infinite ease-in-out 5.2s;
}
.frame__dots__dot:nth-child(27) {
  animation: loopDot 20s both infinite ease-in-out 5.4s;
}
.frame__dots__dot:nth-child(28) {
  animation: loopDot 20s both infinite ease-in-out 5.6s;
}
.frame__dots__dot:nth-child(29) {
  animation: loopDot 20s both infinite ease-in-out 5.8s;
}
.frame__dots__dot:nth-child(30) {
  animation: loopDot 20s both infinite ease-in-out 6s;
}
.frame__dots__dot:nth-child(31) {
  animation: loopDot 20s both infinite ease-in-out 6.2s;
}
.frame__dots__dot:nth-child(32) {
  animation: loopDot 20s both infinite ease-in-out 6.4s;
}
.frame__dots__dot:nth-child(33) {
  animation: loopDot 20s both infinite ease-in-out 6.6s;
}
.frame__dots__dot:nth-child(34) {
  animation: loopDot 20s both infinite ease-in-out 6.8s;
}
.frame__dots__dot:nth-child(35) {
  animation: loopDot 20s both infinite ease-in-out 7s;
}
.frame__dots__dot:nth-child(36) {
  animation: loopDot 20s both infinite ease-in-out 7.2s;
}
.frame__dots__dot:nth-child(37) {
  animation: loopDot 20s both infinite ease-in-out 7.4s;
}
.frame__dots__dot:nth-child(38) {
  animation: loopDot 20s both infinite ease-in-out 7.6s;
}
.frame__dots__dot:nth-child(39) {
  animation: loopDot 20s both infinite ease-in-out 7.8s;
}
.frame__dots__dot:nth-child(40) {
  animation: loopDot 20s both infinite ease-in-out 8s;
}
.frame__dots__dot:nth-child(41) {
  animation: loopDot 20s both infinite ease-in-out 8.2s;
}
.frame__dots__dot:nth-child(42) {
  animation: loopDot 20s both infinite ease-in-out 8.4s;
}
.frame__dots__dot:nth-child(43) {
  animation: loopDot 20s both infinite ease-in-out 8.6s;
}
.frame__dots__dot:nth-child(44) {
  animation: loopDot 20s both infinite ease-in-out 8.8s;
}
.frame__dots__dot:nth-child(45) {
  animation: loopDot 20s both infinite ease-in-out 9s;
}
.frame__dots__dot:nth-child(46) {
  animation: loopDot 20s both infinite ease-in-out 9.2s;
}
.frame__dots__dot:nth-child(47) {
  animation: loopDot 20s both infinite ease-in-out 9.4s;
}
.frame__dots__dot:nth-child(48) {
  animation: loopDot 20s both infinite ease-in-out 9.6s;
}
.frame__dots__dot:nth-child(49) {
  animation: loopDot 20s both infinite ease-in-out 9.8s;
}

#main {
  position: relative;
  z-index: 2;
  height: 90svh;
  border: 2px solid palevioletred;
  display: grid;
  grid-template-areas: ".         nav" "icons content";
  grid-template-columns: 8vw 1fr;
  grid-template-rows: 8vw 1fr;
}
#main::before {
  display: block;
  content: "";
  background: url("/media/bg.jpg") #005235;
  background-blend-mode: multiply;
  filter: brightness(1);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  box-shadow: inset 0px 0px 250px 20px #001f14;
}
@media (hover: none) or (max-width: 900px) {
  #main {
    grid-template-areas: "content" "icons";
    grid-template-columns: 1fr auto;
    grid-template-rows: 1fr;
  }
  #main .main-navbar {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
  }
}

#main > section {
  grid-area: content;
  position: relative;
  border: 2px solid red;
  padding: 1em;
  overflow: hidden;
}

.main-navbar {
  grid-area: nav;
  justify-self: end;
  width: fit-content;
  gap: 1em;
}
@media (hover: none) or (max-width: 900px) {
  .main-navbar {
    justify-self: start;
    width: 100%;
  }
}

.social-icons {
  grid-area: icons;
  align-self: end;
  display: flex;
  flex-direction: column;
  gap: 1em;
  padding: 1em 0em;
}
.social-icons > * {
  max-width: 100%;
}
@media (hover: none) or (max-width: 900px) {
  .social-icons {
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    font-size: 0.5rem;
  }
}

.shop-page {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  overflow: hidden;
  padding: 1em;
}
.shop-page footer {
  display: flex;
  align-items: center;
}
.shop-page footer .footer-item {
  max-width: 400px;
}
@media (hover: none) or (max-width: 900px) {
  .shop-page footer {
    flex-direction: column;
    padding: 0em 1em;
    gap: 1em;
    text-align: center;
  }
}

.shop-section {
  height: 100%;
  min-width: 100%;
  overflow-y: hidden;
  overflow-x: auto;
  scroll-behavior: smooth;
  display: flex;
  padding: 1em;
  gap: 1em;
}
.shop-section__wrapper {
  background-color: rgba(221, 221, 221, 0.3333333333);
  border-radius: 5px;
}
@media (hover: hover) {
  .shop-section:has(> *:hover) > * {
    transition: all 0.5s ease-out !important;
    perspective: 100px;
    transform: scale(0.95);
    opacity: 0.8;
    filter: grayscale(5%);
  }
  .shop-section > *:hover {
    transform: scale(1.05);
    opacity: 1;
    filter: grayscale(0%);
  }
}

.shop-item {
  margin: auto;
  min-width: 30vmin;
  min-height: 30vmin;
  display: flex;
  flex-direction: column;
  position: relative;
  overflow: hidden;
  border-radius: 5px;
  box-shadow: 2px 8px 20px 2px rgba(0, 6, 4, 0.5);
  border: 1px solid rgba(235, 255, 248, 0.3);
  cursor: pointer;
}
.shop-item img {
  height: 30vmin;
  width: fit-content;
  align-self: center;
  pointer-events: none;
}
.shop-item__title {
  font-size: 1.15rem;
  text-align: center;
  padding: 0.25em 0.35em;
  background-color: #00482e;
  min-height: 2.625em;
  display: flex;
  place-content: center;
  place-items: center;
  box-shadow: inset 2px 2px 10px 1px #007b4f;
}
.shop-item__title h2 {
  font-size: inherit;
  line-height: 1.05em;
  margin: 0;
}
.shop-item__description {
  position: absolute;
  top: 0%;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 10;
  opacity: 0;
  font-size: 0.9rem;
  display: flex;
  place-content: center;
  place-items: center;
  text-align: center;
  background-color: rgba(0, 31, 20, 0.8);
  padding: 10%;
}
.shop-item__description p {
  font-size: 1.35em;
  text-align: center;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
}
.shop-item, .shop-item img, .shop-item__title, .shop-item__description {
  transition: all 0.2s ease-in;
}
.shop-item:hover .shop-item__description {
  opacity: 1;
}
.shop-item:hover img, .shop-item:hover .shop-item__title {
  filter: blur(3px);
}
.shop-item:hover img {
  transform: scale(1.1);
  transition: all 0.2s ease-in;
}

.auth {
  display: flex;
  justify-content: space-evenly;
  place-items: center;
  transform: translate(-4vw, 0vw);
}
.auth__image {
  width: 20vw;
  height: 20vw;
  position: relative;
}
.auth__image__img {
  width: 16vw;
  height: 16vw;
  background-blend-mode: multiply;
  box-shadow: inset 2px 2px 30px 5px rgba(235, 255, 248, 0.2);
  filter: brightness(0.75) contrast(1.1);
  transition: all 0.6s ease-in-out;
}
.auth__image__img--1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 5px 50% 5px 50%;
  transform: translate(-75%, -25%);
  background: url("/media/tea.jpg") rgba(230, 172, 26, 0.8);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  z-index: 2;
}
.auth__image__img--1:hover {
  border-top-left-radius: 25%;
  border-bottom-right-radius: 25%;
}
.auth__image__img--2 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  border-radius: 50% 5px 50% 5px;
  transform: translate(-25%, -75%);
  background: url("/media/white_tea.jpg") rgba(230, 172, 26, 0.8);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.auth__image__img--2:hover {
  border-top-right-radius: 25%;
}
@keyframes loop-shapes {
  0% {
    border-top-left-radius: 0%;
    border-bottom-right-radius: 0%;
    border-top-right-radius: 50%;
    border-bottom-left-radius: 50%;
  }
  25% {
    border-top-left-radius: 60%;
    border-bottom-right-radius: 10%;
    border-top-right-radius: 0%;
    border-bottom-left-radius: 40%;
  }
  75% {
    border-top-left-radius: 20%;
    border-bottom-right-radius: 50%;
    border-top-right-radius: 10%;
    border-bottom-left-radius: 40%;
  }
  100% {
    border-top-left-radius: 30%;
    border-bottom-right-radius: 20%;
    border-top-right-radius: 70%;
    border-bottom-left-radius: 10%;
  }
}
.auth__image__shape {
  z-index: -100;
  position: absolute;
  background-color: #e6ac1a;
  box-shadow: 2px 2px 40px 1px #e6ac1a;
  animation: loop-shapes 3s infinite alternate both linear;
}
.auth__image__shape--1 {
  top: 0%;
  right: 0%;
  bottom: 0;
  left: 0;
}
@media (hover: none) or (max-width: 900px) {
  .auth {
    transform: translate(0vw, 0vw);
  }
  .auth__image {
    display: none;
  }
}

.item-display {
  padding: 1em;
  position: relative;
  display: grid;
  grid-template-areas: "title img" "text img" "price img" "footer footer";
  grid-template-columns: 2fr 3fr;
  gap: 1em;
}
@media (hover: none) or (max-width: 900px) {
  .item-display {
    grid-template-areas: "img" "title" "text" "price" "footer";
    grid-template-columns: 1fr;
    overflow-y: auto;
    height: 100%;
  }
}
.item-display header {
  grid-area: title;
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: "left header-title right";
}
@media (hover: none) or (max-width: 900px) {
  .item-display header {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr auto;
    grid-template-areas: "header-title header-title" "left                right";
  }
}
.item-display__title {
  grid-area: header-title;
  padding: 1em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 1.75rem;
  min-height: 5em;
}
.item-display__title h1 {
  font-size: 1em;
  line-height: 1em;
  margin: 0;
}
.item-display__title p {
  font-style: italic;
  font-size: 0.7em;
}
.item-display__navigation {
  padding: 0em 1em;
  opacity: 0.35;
  transition: all 0.15s ease-in;
}
.item-display__navigation:hover {
  opacity: 1;
  transform: scale(1.15);
}
.item-display__navigation--prev {
  left: 1em;
  grid-area: left;
}
.item-display__navigation--next {
  right: 1em;
  grid-area: right;
}
@keyframes image-on-load {
  from {
    border-top-right-radius: 100%;
    border-bottom-left-radius: 100%;
  }
  to {
    border-radius: 60%;
    border-top-left-radius: 100%;
    border-bottom-right-radius: 100%;
  }
}
.item-display__image-wrapper {
  grid-area: img;
  background-color: #cccbc2;
  overflow: hidden;
  animation: image-on-load 5s cubic-bezier(0.075, 0.82, 0.165, 1) 1 forwards;
  width: 30vmax;
  height: 33vmin;
  min-height: 33%;
  min-width: 33%;
  max-width: 75%;
  max-height: 75%;
  justify-self: center;
  align-self: center;
  position: relative;
  box-shadow: 2px 2px 10px 2px rgba(235, 255, 248, 0.3);
}
.item-display__image-wrapper img {
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
@media (hover: none) or (max-width: 900px) {
  .item-display__image-wrapper {
    width: 100%;
  }
}
.item-display__text {
  grid-area: text;
  border-left: 5px solid #e6ac1a;
  padding: 0.1em 0.7em;
  font-style: italic;
  height: fit-content;
}
@media (hover: none) or (max-width: 900px) {
  .item-display__text {
    text-align: justify;
  }
}
.item-display__price {
  grid-area: price;
  display: flex;
  flex-direction: column;
  place-content: center;
  gap: 1em;
  padding-left: 3em;
}
.item-display__price p {
  font-size: 2rem;
  font-weight: bold;
}
.item-display__price span {
  display: flex;
  align-items: center;
  gap: 0.5em;
  width: 100%;
}
@media (hover: none) or (max-width: 900px) {
  .item-display__price {
    padding: 0;
    text-align: center;
  }
  .item-display__price p {
    text-align: center;
  }
  .item-display__price span {
    justify-content: space-evenly;
  }
}
.item-display footer {
  padding: 0rem;
  padding-top: 2em;
  grid-area: footer;
  display: flex;
}
.item-display footer h2 {
  font-size: 1.2rem;
}
@media (hover: none) or (max-width: 900px) {
  .item-display footer {
    text-align: justify;
    flex-direction: column;
    padding: 1em;
    gap: 1em;
    text-align: center;
  }
}

.profile {
  margin: auto;
  width: 70%;
  overflow: auto;
  padding: 1em;
}
@media (hover: none) or (max-width: 900px) {
  .profile {
    width: 100%;
  }
}
.profile header {
  display: flex;
  align-items: center;
  gap: 3em;
}
.profile header .user-info__name {
  color: #e6ac1a;
  font-family: Georgia, "Times New Roman", Times, serif;
  margin-bottom: 0.5em;
  font-weight: bold;
  margin: 0;
  font-size: 3rem;
}
@media (hover: none) or (max-width: 900px) {
  .profile header {
    flex-direction: column;
  }
}
.profile__actions, .profile__actions span {
  padding: 0em 1em;
  display: flex;
  justify-content: space-between;
}
@media (hover: none) or (max-width: 900px) {
  .profile__actions, .profile__actions span {
    flex-direction: column-reverse;
    padding: 0;
    gap: 3em;
  }
}
.profile__actions span {
  gap: 1em;
}
.user-info__section-title {
  font-size: 1.35rem;
}
.user-info__image {
  outline: 0.35em solid #e6ac1a;
  box-shadow: 2px 2px 20px 2px #e6ac1a;
}

.help-center {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2em;
  padding: 0.5em;
  max-height: 100%;
  overflow-y: auto;
}
.help-center h2 {
  text-align: center;
}
.help-center .faq {
  width: 100%;
  max-width: 80%;
}
@media (hover: none) or (max-width: 900px) {
  .help-center .faq {
    max-width: 100%;
  }
}
.help-center .support {
  width: 100%;
}
.help-center .support__items {
  display: flex;
  justify-content: space-evenly;
  gap: 1em;
}
@media (hover: none) or (max-width: 900px) {
  .help-center .support__items {
    flex-direction: column;
    align-items: center;
  }
}
.help-center .support__icon {
  text-align: center;
  font-size: 1.5rem;
  width: 6em;
  height: 6em;
  background: linear-gradient(#00482e, #001f14);
  box-shadow: inset 2px 2px 20px 2px rgba(235, 255, 248, 0.2);
  display: flex;
  gap: 0.5em;
  flex-direction: column;
  place-content: center;
  place-items: center;
  border-radius: 5px;
}
.help-center .support__icon, .help-center .support__icon * {
  transition: all 0.18s ease-in-out, transform 0.5s ease;
}
.help-center .support__icon i {
  font-size: 1.5em;
}
.help-center .support__icon p {
  font-size: 0.9em;
}
.help-center .support__icon:hover {
  box-shadow: inset 2px 2px 30px 2px rgba(235, 255, 248, 0.5);
  outline: 1px solid #e1fff4;
}
.help-center .support__icon:hover * {
  transform: scale(90%);
}
.help-center .support__icon:active {
  box-shadow: 2px 2px 25px 2px #00482e, inset 2px 2px 20px 2px rgba(235, 255, 248, 0.5);
  outline: 1px solid #e1fff4;
}

.email-dialog-body {
  padding-top: 1em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1.3em;
}

#main.error-boundary {
  display: flex;
  flex-direction: column;
  place-content: center;
  place-items: center;
  gap: 1rem;
}

.error-boundary {
  text-align: center;
}
.error-boundary > * {
  max-width: 70%;
}
@media (hover: none) or (max-width: 900px) {
  .error-boundary__title {
    font-size: 1.3em;
  }
}
.error-boundary__error {
  width: 70%;
  height: 100%;
  max-height: 300px;
  overflow-y: auto;
  border-radius: 10px;
  background-color: rgba(235, 255, 248, 0.1);
  backdrop-filter: blur(15px);
  font-size: 1rem;
  padding: 1.5em;
  line-height: 1.3em;
  font-family: monospace;
  border: 0.2em #ebfff8;
  text-align: start;
  border-style: ridge;
  user-select: text;
}
@media (hover: none) or (max-width: 900px) {
  .error-boundary__error {
    max-height: 50%;
  }
}
.error-boundary__error__field-name {
  font-weight: bold;
  text-decoration: underline;
  color: #e6ac1a;
}
.error-boundary__actions {
  display: flex;
  gap: 2rem;
}
.error-boundary__support {
  font-size: 1.1rem;
}
@media (hover: none) or (max-width: 900px) {
  .error-boundary__support {
    font-size: 0.85em;
  }
}
.error-boundary__support__contact {
  color: #e6ac1a;
  text-decoration: underline;
  user-select: text;
}

.cart {
  display: grid;
  grid-template-areas: "title title" "payment items";
  grid-template-rows: auto 1fr;
  grid-template-columns: 2fr 1fr;
  overflow: hidden;
}
@media (hover: none) or (max-width: 900px) {
  .cart {
    grid-template-areas: "title" "payment" "items";
    grid-template-rows: auto auto auto;
    grid-template-columns: 1fr;
    gap: 1em;
    overflow-y: auto !important;
    justify-content: center;
    justify-items: center;
  }
}
.cart h1 {
  grid-area: title;
}

.cart-list {
  grid-area: items;
  overflow: hidden;
  display: grid;
  grid-template-rows: 1fr auto;
  padding-top: 0.5em;
  gap: 0.5rem;
  border: ridge 2px #ebfff8;
  position: relative;
}
@media (hover: none) or (max-width: 900px) {
  .cart-list {
    grid-template-rows: auto auto;
    overflow: visible;
  }
}
.cart-list .cart-items-wrapper {
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  padding: 0 1em;
  height: 100%;
}
.cart-list:has(.cart-item:hover) .cart-item {
  opacity: 0.9;
  transform: scale(0.99);
  transition: all 0.23s ease-out 0.1 !important;
}
.cart-list .cart-item:hover {
  opacity: 1 !important;
  transform: scale(1) !important;
}
.cart-list__empty {
  height: 100%;
  display: flex;
  flex-direction: column;
  place-content: center;
  place-items: center;
  text-align: center;
}
.cart-list__total {
  text-align: center;
  background-color: #00482e;
  font-size: 1.35em;
  font-weight: bold;
  padding: 0.75em;
  box-shadow: inset 2px 2px 20px 2px rgba(235, 255, 248, 0.15);
}

.cart-checkout {
  margin-right: 5%;
}
@media (hover: none) or (max-width: 900px) {
  .cart-checkout {
    margin: 0;
  }
}
.cart-checkout__shipping {
  display: grid;
  grid-template-areas: "header   header" "country city" "street    zipcode";
  flex-direction: column;
  gap: 1.75em;
}
.cart-checkout__shipping h3 {
  grid-area: header;
}
.cart-checkout__shipping *:nth-child(2) {
  grid-area: country;
}
.cart-checkout__shipping *:last-child {
  grid-area: street;
}
.cart-checkout__payment__tbd {
  display: flex;
  flex-direction: column;
  place-content: center;
  align-items: center;
  text-align: center;
  background-color: rgba(235, 255, 248, 0.15);
  border: ridge 2px;
  padding: 1em;
  backdrop-filter: blur(15px);
}
.cart-checkout__payment a {
  color: #e6ac1a;
  font-weight: bold;
  text-decoration: underline;
}
.cart-checkout button[type=submit] {
  display: block;
  width: 80%;
  margin: auto !important;
  font-size: 1.5rem;
}

.cart-item {
  border-radius: 10px;
  background-color: #ebfff8;
  color: #00482e;
  font-size: 0.85rem;
  display: grid;
  grid-template-areas: "img name trash" " qt   .  price";
  grid-template-columns: 4rem 4fr 1fr;
  justify-content: space-between;
  place-items: center;
  padding: 0.75em 1em;
  gap: 1em;
  transition: all 0.2s ease;
}
.cart-item__img {
  grid-area: img;
  width: 4em;
  height: 4em;
  border-radius: 1em;
  transition: all 1s ease;
  box-shadow: 2px 8px 15px 1px rgba(0, 72, 46, 0.5);
}
.cart-item__name {
  grid-area: name;
  justify-self: start;
  color: #000604;
}
.cart-item__remove {
  grid-area: remove;
}
.cart-item__quantity {
  grid-area: qt;
  display: flex;
  gap: 2rem;
  place-content: space-between;
  place-items: center;
  width: 100%;
}
.cart-item__indicator {
  font-size: 1.25em;
}
.cart-item__add {
  grid-area: add;
}
.cart-item__delete {
  grid-area: trash;
  font-size: 1.25em;
  justify-self: end;
  align-self: start;
  color: #f55;
}
.cart-item__price {
  grid-area: price;
}
.cart-item:hover .cart-item__img {
  border-radius: 0.25em;
  border-start-end-radius: 75%;
  border-end-start-radius: 75%;
}

.prev-orders-tab {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  justify-content: start;
  height: 100%;
}
.prev-orders-tab__empty {
  text-align: center;
  width: 50%;
  margin: auto;
  padding-bottom: 10%;
}
.prev-orders-tab__item {
  color: #000604;
  text-transform: capitalize;
  grid-template-columns: auto auto auto;
}
.prev-orders-tab__item:last-child {
  border-start-start-radius: 10px;
  border-start-end-radius: 10px;
}
.prev-orders-tab__item:first-child {
  border-end-start-radius: 10px;
  border-end-end-radius: 10px;
}
@media (hover: none) or (max-width: 900px) {
  .prev-orders-tab__item {
    flex-direction: column;
    gap: 0.1em;
  }
}

.order-info__list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1em;
  height: 100%;
}

.order-info__item {
  display: grid;
  grid-template-areas: "img price" "name name" "qt qt";
  align-items: center;
  gap: 0.5em;
  border-bottom: 1px solid rgba(0, 31, 20, 0.5);
  box-shadow: 0px 4px 25px 0px rgba(0, 31, 20, 0.5);
  padding: 0.25em;
}
.order-info__item__name {
  grid-area: name;
}
.order-info__item__img {
  grid-area: img;
  width: 3em;
  height: 3em;
  border-radius: 1em;
  transition: all 1s ease;
  box-shadow: 2px 8px 15px 1px rgba(0, 72, 46, 0.5);
}
.order-info__item__price {
  grid-area: price;
}
.order-info__item__qt {
  grid-area: qt;
}

.dev-center {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  place-items: center;
  text-align: center;
  height: 100%;
  max-height: max-content;
}
.dev-center__note__box {
  margin: auto;
  background-color: rgba(235, 255, 248, 0.2);
  border: ridge 2px #ebfff8;
  padding: 1rem;
  backdrop-filter: blur(10px);
  max-width: 80%;
}
.dev-center__triggers {
  display: flex;
  gap: 1rem;
}
.dev-center footer a {
  color: #e6ac1a;
  font-weight: bold;
  text-decoration: underline;
}

/*# sourceMappingURL=sass.css.map */
