* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
  color: inherit;
  border: none;
}

* {
  color: #f0fffb;
  user-select: none;
}

:root {
  font-size: clamp(14px, 1.5vmax, 20px);
}

body {
  background-color: #00241a;
  height: 100svh;
  padding: 6.5vmin;
}

main {
  position: relative;
  z-index: 2;
  height: 87vmin;
  padding: 1rem;
}
main::before {
  display: block;
  content: "";
  background-color: #00150f;
  background: url("/media/bg2.jpg") #00241a;
  background-blend-mode: color-dodge;
  filter: brightness(90%) drop-shadow();
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  box-shadow: inset 0px 0px 250px 20px #00241a;
}

.btn {
  padding: 0.75em 1em;
  border-radius: 5px;
  box-shadow: 2px 2px 15px 2px rgba(0, 77, 55, 0.5);
  transition: all 0.17s ease-in-out, box-shadow 0.3s;
  cursor: pointer;
  font-size: 0.8em;
}
.btn--primary {
  background-color: #004d37;
}
.btn--primary:hover {
  box-shadow: 2px 2px 25px 2px #004d37;
  outline: 0.25px solid #e6fff8;
}
.btn--primary:active {
  box-shadow: 2px 2px 25px 2px #004d37, inset 2px 2px 20px 2px #00241a;
  outline: 1px solid #e6fff8;
}
.btn--outlined {
  background-color: #f0fffb;
  color: #004d37;
  outline: 1px solid #004d37;
}
.btn--outlined:hover {
  box-shadow: 2px 2px 25px 2px #004d37;
}
.btn--outlined:active {
  box-shadow: 2px 2px 25px 2px #004d37, inset 2px 2px 20px 2px rgba(0, 77, 55, 0.35);
  outline: 1px solid #004d37;
}
.btn span {
  display: inline-block;
  color: inherit;
  transition: all 0.2s;
}
.btn:hover span {
  transform: scale(105%);
}
.btn:active span {
  transform: scale(85%);
}

.icon-btn {
  background-color: transparent;
  font-size: 1.5rem;
  cursor: pointer;
}
.icon-btn i:hover {
  transform: scale(95%);
}
.icon-btn i:active {
  transform: scale(105%);
}

.navbar {
  font-size: 0.75rem;
  padding: 0.75em;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.frame {
  z-index: -1;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
}
.frame__corner {
  position: absolute;
  background-color: #e6ac1a;
  width: 35vmin;
  height: 35vmin;
}
.frame__corner--top-left {
  top: 0;
  left: 0;
}
.frame__corner--bottom-right {
  bottom: 0;
  right: 0;
}
.frame__line {
  position: absolute;
  width: 200vw;
  height: 1px;
  transform: rotate(-45deg);
  transform-origin: top left;
}
.frame__line--top {
  background-color: #131;
}
.frame__line--top:nth-child(4) {
  top: 3%;
}
.frame__line--top:nth-child(5) {
  top: 6%;
}
.frame__line--top:nth-child(6) {
  top: 9%;
}
.frame__line--top:nth-child(7) {
  top: 12%;
}
.frame__line--top:nth-child(8) {
  top: 15%;
}
.frame__line--top:nth-child(9) {
  top: 18%;
}
.frame__line--top:nth-child(10) {
  top: 21%;
}
.frame__line--top:nth-child(11) {
  top: 24%;
}
.frame__line--top:nth-child(12) {
  top: 27%;
}
.frame__line--top:nth-child(13) {
  top: 30%;
}
.frame__line--top:nth-child(14) {
  top: 33%;
}
.frame__line--top:nth-child(15) {
  top: 36%;
}
.frame__line--top:nth-child(16) {
  top: 39%;
}
.frame__line--top:nth-child(17) {
  top: 42%;
}
.frame__line--bottom {
  transform: rotate(-40deg);
  background-color: #ddd;
}
.frame__line--bottom:nth-child(18) {
  top: 177.5%;
}
.frame__line--bottom:nth-child(19) {
  top: 180%;
}
.frame__line--bottom:nth-child(20) {
  top: 182.5%;
}
.frame__line--bottom:nth-child(21) {
  top: 185%;
}
.frame__line--bottom:nth-child(22) {
  top: 187.5%;
}
.frame__line--bottom:nth-child(23) {
  top: 190%;
}
.frame__line--bottom:nth-child(24) {
  top: 192.5%;
}
.frame__line--bottom:nth-child(25) {
  top: 195%;
}
.frame__line--bottom:nth-child(26) {
  top: 197.5%;
}
.frame__line--bottom:nth-child(27) {
  top: 200%;
}
.frame__line--bottom:nth-child(28) {
  top: 202.5%;
}
.frame__line--bottom:nth-child(29) {
  top: 205%;
}
.frame__dots {
  position: absolute;
  bottom: 1em;
  left: 2em;
  width: 8vmax;
  height: 8vmax;
  display: flex;
  flex-wrap: wrap;
  gap: 10%;
  place-content: center;
  place-items: center;
}
.frame__dots__dot {
  position: static;
  width: 5%;
  height: 5%;
  background-color: #ddd;
  border-radius: 50%;
}

/*# sourceMappingURL=sass.css.map */
