@mixin center-vertical-items() {
	display: flex;
	flex-direction: column;
	place-content: center;
	place-items: center;
	text-align: center;
	gap: 0;
}
@mixin center-in-parent() {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
