@use "../../utils/layout" as utils;
@use "../../base/colors" as colors;
.form {
	&__header {
		@include utils.center-vertical-items();
	}
	&__body {
		@include utils.center-vertical-items();

		&,
		& > * {
			width: 100%;
		}

		gap: 2em;
		margin: 1.5em 0em;
	}

	&__control {
		//honeypot
		&--special {
			z-index: -1;
			position: absolute;
			top: 50%;
			left: 50%;
		}
	}

	&__separator {
		width: 100%;
		height: 1px;
		background-color: colors.$text-primary;
		margin: 1em 0em;
	}
}
