@use "./colors" as colors;
* {
	color: colors.$text-primary;
	user-select: none;
}

:root {
	font-size: clamp(14px, 1.5vmax, 20px);
}

body {
	background-color: colors.$bg;

	height: 100svh;
	padding: 6.5vmin;
}

main {
	position: relative;
	z-index: 2;
	height: 87vmin;
	padding: 1rem;
	&::before {
		display: block;
		content: "";
		background-color: darken(colors.$bg, 3);
		background: url("/media/bg2.jpg") darken(colors.$bg, 0%);

		background-blend-mode: color-dodge;

		filter: brightness(90%) drop-shadow();
		background-repeat: no-repeat;
		background-size: cover;
		background-position: 50% 50%;

		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;

		z-index: -1;

		box-shadow: inset 0px 0px 250px 20px colors.$bg;
	}
}
