@use "./colors" as colors;
* {
	user-select: none;

	-webkit-tap-highlight-color: transparent;
}

body {
	background-color: colors.$bg;
	color: colors.$text-primary;
	height: 100svh;
	padding: 6.5vmin;
}

#root {
	width: 100%;
	height: 100%;
}
