@use "./colors" as colors;
* {
	user-select: none;

	-webkit-tap-highlight-color: transparent;
}

body {
	background-color: colors.$bg;
	color: colors.$text-primary;
	height: 100svh;
	padding: 6.5vmin;
}

#root {
	width: 100%;
	height: 100%;
}

//Scrollbar

*::-webkit-scrollbar {
	width: 0.5em;
	height: 0.5em;
	transition: all 0.2s ease;
}

*::-webkit-scrollbar-track {
	$color: colors.$light;
	background-color: rgba($color: $color, $alpha: 0.1);
	transition: all 1.25s ease;
	border-radius: 10px;
	&:hover {
		background-color: rgba($color: $color, $alpha: 0.35);
	}
}

*::-webkit-scrollbar-thumb {
	background-color: colors.$light;
	outline: 1px solid colors.$light;
	border-radius: 10px;
}

@mixin dark-scrollbar() {
	&::-webkit-scrollbar-thumb {
		background-color: colors.$primary;
		outline: 1px solid colors.$primary;
		border-radius: 10px;
	}

	&::-webkit-scrollbar-track {
		$color: colors.$primary;
		background-color: rgba($color: $color, $alpha: 0.1);
		transition: all 1.25s ease;
		border-radius: 10px;
		&:hover {
			background-color: rgba($color: $color, $alpha: 0.35);
		}
	}
}
