$bg: #001f14;
$light: lighten($bg, 90%);
$dark: darken($bg, 5%);
$primary: lighten($bg, 8%);
$secondary: #e6ac1a;
$title: $secondary;
$text-primary: $light;
$text-secondary: $dark;
//validation
$invalid: #f55;
