@use "./colors" as colors;
@use "../utils/media-queries" as media-query;

:root {
	font-size: clamp(16px, 1.5vmax, 20px);
	font-family: Arial, Helvetica, sans-serif;
}

@mixin title {
	color: colors.$title;
	font-family: Georgia, "Times New Roman", Times, serif;
	margin-bottom: 0.5em;
	font-weight: bold;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	@include title();
}

h1 {
	font-size: 2.3rem;
	@include media-query.small-screen() {
		font-size: 1.85rem;
	}
}
h2 {
	font-size: 2rem;
	@include media-query.small-screen() {
		font-size: 1.45rem;
	}
}
h3 {
	font-size: 1.5rem;
	@include media-query.small-screen() {
		font-size: 1.15rem;
	}
}
h4 {
	font-size: 1.25rem;
	@include media-query.small-screen() {
		font-size: 1.05rem;
	}
}

.link {
	color: colors.$secondary;
	text-decoration: underline;
	user-select: text;
}
