@use "../../utils/layout" as layout;

.tabs-container {
	padding: 1em;
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: auto 1fr;
	gap: 1em;
	height: 94%;
	&__tab {
		overflow: auto;
	}

	&__nav {
		&__button {
			border-radius: 0%;

			$corners: 5px;

			&:first-child {
				border-top-left-radius: $corners;
				border-bottom-left-radius: $corners;
			}

			&:last-child {
				border-top-right-radius: $corners;
				border-bottom-right-radius: $corners;
			}
		}
	}
}
