@use "../../base/colors" as colors;
@use "../../utils/layout" as layout;
.file-input {
	$size: 20vmax;
	width: $size;
	height: $size;
	max-width: 200px;
	max-height: 200px;

	overflow: hidden;
	border-radius: 50%;
	background-color: colors.$light;
	position: relative;
	transition: all 0.35s ease-out;
	cursor: pointer;

	&:hover {
		box-shadow: inset 0px 0px 70px 10px colors.$dark;

		& img {
			transform: translate(-50%, -50%) scale(1.25);
			opacity: 0.5;
		}
	}

	&:hover &__icon {
		opacity: 0.5;
	}

	&__icon {
		opacity: 0;
		font-size: $size/3;
		transition: all 0.25s ease-in-out;
		z-index: 1;
		@include layout.center-in-parent();
	}

	& img {
		height: 100%;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%) scale(1);
		transition: all 0.35s ease;
		z-index: 1;
	}

	& input {
		z-index: -1;
		opacity: 0;
	}
}
