@use "../../base/colors" as colors;

.input {
	position: relative;
	width: 100%;
	padding: 0.3em 0.5em;
	background-color: colors.$light;
	border-radius: 10px;
	outline: 2px solid transparent;
	transition: all 0.15s ease;
	font-size: 1.1rem;
	text-align: left;
	/*
	focus vs focus-within
	focus within targets descendants
	With forms, when the user tries to submit and missed a field, the missing one will be focused.
	since the actual input is inside the .input wrapper, focus-within gets targeted as well
	*/
	&:focus-within {
		box-shadow: inset 2px 2px 20px 2px
			rgba($color: colors.$dark, $alpha: 0.5);
		outline: 1px solid colors.$light;
	}

	&__invalid-text {
		color: colors.$text-primary;
		position: absolute;
		bottom: calc(100% + 0.2em);
		right: 0em;
		font-size: 0.75em;
		background-color: colors.$invalid;
		padding: 0.2em 0.5em;
		border-radius: 10px;
		z-index: -1;
		text-transform: capitalize;
	}

	&__element {
		padding: 0.25em 0.5em;
		font-size: 1em;
		background-color: transparent;
		color: colors.$text-secondary;
		width: 100%;
		&:focus {
			border: none;
			outline: none;
			background-color: transparent;
		}
	}

	&__label {
		display: block;
		position: absolute;
		opacity: 0;
		bottom: 2rem;
		color: colors.$text-primary;
		transition: 0.2s ease-in-out transform;
		font-size: 0.95em;
	}

	&__element:placeholder-shown + &__label {
		visibility: hidden;
		z-index: -1;
		transition: 0.2s ease-in-out;
	}

	&__element:not(:placeholder-shown) + &__label,
	&__element:focus:not(:placeholder-shown) + &__label {
		visibility: visible;
		z-index: 1;
		opacity: 1;
		transform: translateY(-10px);
		transition: 0.2s ease-in-out transform;
	}
}
